.cafe_card {

    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 16px;
    margin-top: 24px;
    border-radius: 8px;
    
}

.light-bg{
    background-color: #F7F7F7;
}

#btnMenu{
    cursor: pointer;
    color: #A5A6F6;
    font-weight: 700;
    font-size: 16px;
}

.card_container {
    margin-top: -25px;
}

.img_card_con {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.cafe_img {

    width: 33%;
    margin: 0 24px 16px 0;
    border-radius: 4px;

}

.info {
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}

.cafeName> p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.cafeName > p:first-child{
    font-size: 24px;
    color: #3E3E3E;
    font-weight: 600;
}

.cafeName > p:nth-child(2) , .cafeName > p:nth-child(3){
    font-size: 12px;
    color: #A5A6F6;
    font-weight: 500;
}

.cafeName > p:nth-child(3){
    color: #9D9D9D;
}


.foodType {
    /* border: 2px solid rgb(24, 134, 212); */
    margin: 0px;
    padding: 0px;
}

.address {
    /* border: 2px solid rgb(206, 109, 241); */
    margin: 0px;
    padding: 0px;
}

.ratings {
    /* border: 2px solid rgb(238, 111, 111); */
    margin: 0px;
    padding: 0px;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.likeIcon {

    width: 24px;
    padding: 9px 10px;
    border: 2px solid rgba(165, 166, 246, 0.52);
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;

}

.menu>button {

    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #A5A6F6;
    background-color: rgba(165, 166, 246, 0.22);

}

