.input_box{
    margin: 20px;
    margin-top: 36px;
    height: 35px;
    width: 313px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #A5A6F6;
}

.input_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 8px;
  border-radius: 8px;
  border: 2px solid rgba(165, 166, 246, 0.22);;
}

.search-input{
  width: 100%;
}


.input_box:hover {
    box-sizing: border-box;
    border: 4px solid #A5A6F6;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:  #A5A6F6;
  }