.menu_Heading{
    font-family: 'Poppins';
    font-size: medium;
    font-size: 21px;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 15px;
    line-height: 24px;
    margin-top: 0px;
    color: rgb(102, 102, 226);
}

.MenuHeading{
    border-bottom: 2px solid rgba(165, 166, 246, 1)
}

.MenuSection{
    display: flex;
    flex-direction: column
}





/* .btn-Non-Veg {
    padding-top: 10px
}; */
/* .Veg_NonVeg_Container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;

} */
/* #btn-Veg{
    background-color: white;
    border: 0.5px solid rgba(218, 218, 218, 1);
    border-radius: 5px;
}
.Btn-veg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

/* MENU CARD */
.menu-type{
    color: #7879F1;
      font-size: 16px;
    font-weight: 500;

}
.menu-card-con{
    display: flex;
    flex-direction: row;
    border: solid black;
}
.Dish-name > p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1px;
    color: #3E3E3E;
    
}
.menu-card-info{
    padding: 9px;
}

.menu-img-container{
    width: 245px;
    height: 138px;
    border: solid black;
    margin: 12px;
    border-radius: 17px;
}
.price-rate-con{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -13px;
}
.Dish-Disp>p{
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: justify;
    color: rgba(157, 157, 157, 1);
    margin: 1px;
}
.Price>p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #A5A6F6;
}
.Dish-Rating{
    padding-left: 61px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #A5A6F6;
}
.Btn-AddItem{
    border: none;
    background: rgba(165, 166, 246, 0.22);
    color: #5D5FEF;
    height: 40px;
    width: 117px;
    border-radius: 11px
}

.AddItem{
    margin-top: 14px;

}